@import 'vars';
@import 'libs';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
	padding-top: 50px;
	&__inner {
		max-width: 1120px;
		min-height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 16px;
		line-height: 26px;
		font-weight: 600;
	}

	&__link {
		padding: 17px 71px 17px 29px;
		letter-spacing: 0.005em;
		background: #ffffff;
		box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
		border-radius: 50px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 22px;
			height: 16px;
			background-image: url('../images/arrow-right.svg');
			right: 29px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__link:hover {
		color: #212353;
	}
}

.menu {
	margin-right: auto;
	margin-left: 120px;

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__list-item {
		transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
		&:hover {
			color: #212353;
			transform: scale(1.2);
		}

		& + & {
			margin-left: 40px;
		}
	}
}

.top {
	padding: 130px 0 100px;

	&__bg {
		position: absolute;
		top: 96px;
		right: -128px;
		z-index: -1;
		max-width: 70%;
	}

	&__inner {
		position: relative;
		padding-bottom: 100px;
	}

	&__title {
		max-width: 645px;
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		font-weight: bold;
		font-size: 80px;
		line-height: 110%;
		color: #212353;
		margin-bottom: 50px;
	}

	&__text {
		max-width: 380px;
		margin-bottom: 50px;
	}

	&__link {
		background: #9c69e2;
		border-radius: 50px;
		padding: 16px 37px;
		color: #ffffff;
		font-weight: 800;
	}
}

.description {
	&__inner {
		min-height: 560px;
		padding-top: 125px;
		padding-bottom: 125px;
		background: rgba(240, 99, 184, 0.15);
		border-radius: 50px;
		background-image: url('../images/desc-bg.png');
		background-repeat: no-repeat;
		background-position: top 31px left 11px;
		display: flex;
		justify-content: flex-end;
	}

	&__content {
		margin-right: 93px;
		max-width: 475px;
	}

	&__title {
		margin-bottom: 40px;
	}

	&__text {
		max-width: 465px;
	}
}

.features {
	padding-top: 143px;
	padding-bottom: 100px;
	&__inner {
		padding-left: 90px;
	}

	&__title {
		margin-bottom: 50px;
		text-align: center;
	}

	&__text {
		max-width: 584px;
		margin-bottom: 100px;
		text-align: center;
		margin: 0 auto;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		position: relative;
		margin-bottom: 50px;
		width: 442px;
		padding-top: 49px;
		padding-right: 50px;
		background-repeat: no-repeat;
		min-height: 358px;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		background-position: 0 0;

		&::before {
			content: '';
			position: absolute;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	&__item-title {
		font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
		margin-bottom: 20px;
		font-size: 24px;
		line-height: 130%;
		color: #212353;
		font-weight: 40;
	}

	&__item-text {
		max-width: 220px;
		font-size: 16px;
		line-height: 160%;
	}

	&__item-link {
		font-weight: 800;
		font-size: 16px;
		line-height: 160%;
		letter-spacing: 0.005em;
		color: #212353;
		position: absolute;
		left: 172px;
		bottom: 33px;

		padding-right: 42px;

		&::before {
			content: '';
			position: absolute;
			background-image: url('../images/arrow-right.svg');
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			width: 22px;
			height: 16px;
		}
	}

	&__item:nth-child(1) {
		background-image: url('../images/features-bg-1.svg');
		border-radius: 50px;
	}
	&__item:nth-child(2) {
		background-image: url('../images/features-bg-2.png');
		border-radius: 20px;
	}
	&__item:nth-child(3) {
		background-image: url('../images/features-bg-3.svg');
		border-radius: 50px;
	}
	&__item:nth-child(4) {
		background-image: url('../images/features-bg-4.png');
		border-radius: 20px;
	}

	&__item:nth-child(1)::before {
		background-image: url('../images/features-img-1.png');
		width: 232px;
		height: 211px;
		top: 73px;
		left: -89px;
	}
	&__item:nth-child(2)::before {
		background-image: url('../images/features-img-2.png');
		width: 241px;
		height: 185px;
		top: 71px;
		left: -102px;
	}
	&__item:nth-child(3)::before {
		background-image: url('../images/features-img-3.png');
		width: 245px;
		height: 185px;
		top: 123px;
		left: -108px;
	}
	&__item:nth-child(4)::before {
		background-image: url('../images/features-img-4.png');
		width: 230px;
		height: 201px;
		top: 92px;
		left: -97px;
	}
}

.testimonials {
	padding-top: 50px;
	padding-bottom: 150px;

	&__inner {
		position: relative;
		padding: 109px 0 62px 93px;
		background: #9c69e2;
		border-radius: 50px;
	}

	&__title {
		color: #fff;
		margin-bottom: 88px;
	}

	&__slider-item {
		padding: 80px 70px 50px 0;
		max-width: 645px;
		background: #ffffff;
		box-shadow: 0px 20px 0px rgba(84, 19, 175, 0.3);
		border-radius: 20px;
		display: flex !important;
		justify-content: space-between;
		margin-bottom: 63px;
		min-height: 330px;
	}

	.slick-slide + .slick-slide {
		margin-left: 20px;
	}

	.slick-current + .slick-slide {
		opacity: 0.8;
		color: rgba(75, 93, 104, 0.5);
		img{
			opacity: 0.7;
		}

		.testimonials__item-name{
			opacity: 0.7;
		}

		.testimonials__item-job {
			opacity: 0.7;
		}
	}

	&__slider-image {
		width: 90px;
		height: 90px;
		margin-left: 70px;
		margin-right: 30px;
	}

	&__slider-content {
		max-width: 385px;
	}

	&__item-text{
		max-width: 345px;
	}

	&__item-name {
		font-weight: 900;
		font-size: 18px;
		line-height: 160%;
		letter-spacing: 0.005em;
		color: #212353;
	}

	&__item-job {
		font-weight: 500;
		font-size: 14px;
		line-height: 160%;
		letter-spacing: 0.01em;
		color: #9c69e2;
		margin-bottom: 19px;
	}

	&__btn-container {
		position: absolute;
		right: 76px;
		bottom: 65px;
		z-index: 10;
	}
}

.footer {
	border-top: 2px solid rgba(156, 105, 226, 0.2);
	padding-top: 100px;

	&__inner {
		color: #212353;
	}

	&__top {
		display: flex;
		justify-content: space-between;
	}

	&__links {
		padding-top: 21px;
		padding-bottom: 100px;
		a{
			display: inline-block;
		}
	}

	&__link-info {
		background: #f063b8;
		border-radius: 50px;
		padding: 16px 37px;
		font-weight: 900;
		color: #fff;
		margin-right: 30px;
	}

	&__link-request {
		font-weight: 900;
		font-size: 16px;
		line-height: 160%;
		padding: 17px 71px 17px 29px;
		letter-spacing: 0.005em;
		background: #ffffff;
		box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
		border-radius: 50px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 22px;
			height: 16px;
			background-image: url('../images/arrow-right.svg');
			right: 29px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	&__link-request:hover {
		color: #212353;
	}

	&__title {
		margin-bottom: 20px;
	}

	&__text {
		margin-bottom: 150px;
	}

	&__logo {
		display: inline-block;
		margin-bottom: 65px;
	}

	&__info {
		font-size: 16px;
		line-height: 180%;
		letter-spacing: 0.01em;
		color: #212353;
	}

	&__info-address {
		font-weight: 600;
		margin-bottom: 10px;
		max-width: 245px;
	}

	&__center {
		padding: 50px 0;
		display: flex;
		justify-content: space-between;
	}

	&__title-link {
		margin-bottom: 30px;
		font-weight: 900;
		font-size: 16px;
		line-height: 160%;
		color: #212353;
	}

	&__link {
		display: block;
		font-size: 16px;
		line-height: 250%;
		color: #212353;
	}

	&__social-media {
		img {
			display: inline;
		}

		img + img {
			margin-left: 14px;
		}
	}

	&__social-link:hover {
		text-decoration: none;
	}

	&__bottom {
		padding: 43px 0 91px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 12px;
		line-height: 180%;
		letter-spacing: 0.01em;
	}

	&__copy {
		max-width: 360px;
		span {
			display: block;
		}
	}

	&__chat {
		border: none;
		background: transparent;
		cursor: pointer;
	}

	&__bubble {
		display: inline;
	}
}

@import 'media';
